# Data
data/
data_raw_fix/
*.csv
*.xlsx


# Environments
venv/
.env

# Jupyter and Python
**/.ipynb_checkpoints/
__pycache__/

# Temporary scripts
check_data.py
update_notebook.py
update_qiqi_nb.py

# Models
*.pkl
*.joblib

# macOS
.DS_Store
**/.DS_Store

# Agents
.agents/
rules/
generate_notebook.py

# Pribadi
notebooks/modelling/03_modelling_wildan.ipynb
notebooks/modelling/testing_fitur_wildan.ipynb

# Excluded by user request
docs/
captonevenv/

# Dependencies & Build
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log




